# Hidden files and caches
*.DS_Store
*__pycache__

# Directories
mirmpfit/**

# Python files
strahl_fit.py

# Anything with the word test in it
*test*

# Itself
.gitignore

# Log files
josh-log.rst
task_board.rst
