# Hidden files and caches
*.DS_Store
*__pycache__

# Directories
deprecated/**
nete/**
param_files/**
summaries/**
result/**
mirmpfit/**
toy_model/**

# Python Files
peter_chisquaredfitter.py
toy_model.py

# Unclassified Files
test_input
fit_update_input

